<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>4JBL sof DATA</title>
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <img
          src="img/cruz-2831364_1280.png"
          alt="logo"
          width="35"
          height="29"
          class="d-inline-block align-text-top"
        />
        &nbsp &nbsp
        <h3>4JBL sof</h3>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            <a class="nav-link" href="#">Quienes somos</a>
            <a class="nav-link" href="#">Contactenos</a>
            <!--<a class="nav-link disabled">Disabled</a>-->
          </div>
        </div>
      </div>
    </nav>
    <!---------------------------------header------------------------------------->

    <div class="container mt-5">
      <!--bienvenida -->
      <div class="row">
        <div class="col-sm-5 text-center">
          <figure class="figure">
            <img
              src="img/doctora-4861811_1920.jpg"
              class="figure-img img-fluid rounded"
              alt="..."
            />
            <figcaption class="figure-caption">
              Cuentanos Estamos Para Ayudarte.
            </figcaption>
          </figure>
        </div>
        <div class="col-7">
          <h2>HOLA!</h2>
          <p>
            ¡Hola! Bienvenido/a a nuestra plataforma. En esta sección podrás ver tus datos, consultar tus fórmulas y tomar una cita para el día que más se adapte a tus necesidades. Toma tu cita con nosotros. Asignación de citas.
          </p>
          <br />
          <h3>Toma tu cita con nosotros</h3>
          <br>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" onclick="location.href='https://www.google.com'">Agendar Cita</button>
            <button type="button" class="btn btn-primary" onclick="location.href='https://www.google.com'">Consulatar Cita</button>
            <button type="button" class="btn btn-primary" onclick="location.href='https://www.google.com'">Consultar Formula</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/agregarusuario'">Datos Personales</button>
          </div>
        </div>
      </div>

      <!--datos pacientes-->

      <div class="row mt-5">
        
        <div class="col">
          <h2>Datos Personales</h2>
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Usuario</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="usuario : ${usuarios}">
                <!--  <th scope="row">1</th>-->
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.cargo}"></td>
                <td><a class="btn btn-primary" th:href="@{/usuario/editar/{id} (id = ${usuario.id})}">Editar</a></td> 
                <td><a class="btn btn-primary" th:href="@{/usuario/borrar/{id} (id = ${usuario.id})}">Eliminar</a></td>  
                        
              </tr>
            </tbody>
          </table>
        </div>

      <!------------------datos citas paciente--------------------->

      <!------------------datos formulas paciente------------------>

      <!--crear cita-->
    </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
